.dropdown {
  &__input-select {
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: $blue-18;
    padding: 0.95em 0.75em;
    text-align: left;
    font-size: 13px;
    line-height: 1.2;
    border: 1px solid $grey-22;
    border-radius: .25rem;
    transition: color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
    z-index: 2;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include px2rem(padding-right, 20);

    &:disabled {
      background-color: $grey-21;
      cursor: default;
    }
  }

  &__input {
    &::before {
      content: "\E904";
      color: #244958;
      position: absolute;
      top: 50%;
      right: 10px;
      font-family: "acc-icon" !important;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  &__menu {
    width: 100%;
    margin: 0;
    padding-top: unset;
    border: 1px solid #ced4da;
    position: absolute;
    color: $blue-18;
    display: block;
    z-index: 900;
    @include px2rem(max-height, 350);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      background-color: #fff;
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
    }

    &::-webkit-scrollbar-track:hover {
      background-color: #f4f4f4;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 10px;
      border: 3px solid #fff;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #a0a0a5;
      border: 2px solid #f4f4f4;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }
  }

  &__menu-search {
    .input-search {
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #ced4da;
      &:focus {
        border-color: #ced4da;
        box-shadow: unset;
      }
    }
  }

  &__menu-item {
    background-color: #fff;
    width: 100%;
    padding: 0.95em 0.75em;
    font-size: 13px;
    cursor: pointer;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }

    &:hover {
      background-color: $grey-16;
    }

    .acc-icon {
      position: absolute;
      font-weight: bold;
      display: none;
    }

    .dropdown-item-link {
      display: block;
      @include px2rem(margin-left, 20);
    }
    
    &--active {
      .acc-icon {
        display: block;
      }
    }
  }

  &.disabled {
    .dropdown__input {
      &::before {
        cursor: default;
        z-index: 9999;
        opacity: 0.3;
      }
    }
  }
}
