.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;

  &__item {
    transform-origin: 16px 16px;
    animation: lds-spinner 1.2s linear infinite;
    display: block;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: 2px;
      left: 15px;
      width: 2px;
      height: 8px;
      border-radius: 20%;
      background: #6F7073;
    }

    &:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -1.1s;
    }

    &:nth-child(2) {
      transform: rotate(40deg);
      animation-delay: -1s;
    }

    &:nth-child(3) {
      transform: rotate(80);
      animation-delay: -0.9s;
    }

    &:nth-child(4) {
      transform: rotate(120deg);
      animation-delay: -0.8s;
    }

    &:nth-child(5) {
      transform: rotate(160deg);
      animation-delay: -0.7s;
    }

    &:nth-child(6) {
      transform: rotate(200deg);
      animation-delay: -0.6s;
    }

    &:nth-child(7) {
      transform: rotate(240deg);
      animation-delay: -0.5s;
    }
    
    &:nth-child(8) {
      transform: rotate(280deg);
      animation-delay: -0.4s;
    }

    &:nth-child(9) {
      transform: rotate(320deg);
      animation-delay: -0.3s;
    }

    &:nth-child(10) {
      transform: rotate(360deg);
      animation-delay: -0.2s;
    }

    &:nth-child(11) {
      transform: rotate(400deg);
      animation-delay: -0.1s;
    }
    
    &:nth-child(12) {
      transform: rotate(440deg);
      animation-delay: -0s;
    }
  }

}


@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
