$icomoon-font-family: "acc-icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-calendar_ic: "\e900";
$icon-edit_ic: "\e901";
$icon-search_ic: "\e902";
$icon-showmore_ic: "\e903";
$icon-sortdown_ic: "\e904";
$icon-reconnection: "\e9e0";
$icon-repair: "\e9e1";
$icon-accessories-path1: "\e905";
$icon-accessories-path2: "\e9e2";
$icon-add: "\e906";
$icon-advisors: "\e907";
$icon-anchor: "\e908";
$icon-apps: "\e909";
$icon-asterisk: "\e90a";
$icon-attach: "\e90b";
$icon-audio-path1: "\e90c";
$icon-audio-path2: "\e9e3";
$icon-battery: "\e90d";
$icon-bell-path1: "\e90e";
$icon-bell-path2: "\e9e4";
$icon-best2-path1: "\e90f";
$icon-best2-path2: "\e9e5";
$icon-bill: "\e910";
$icon-blog-path1: "\e911";
$icon-blog-path2: "\e9e6";
$icon-bluetooth: "\e912";
$icon-boost-path1: "\e913";
$icon-boost-path2: "\e914";
$icon-broadband-path1: "\e915";
$icon-broadband-path2: "\e916";
$icon-business-opportunity-path1: "\e917";
$icon-business-opportunity-path2: "\e918";
$icon-calendar: "\e919";
$icon-call: "\e91a";
$icon-camera-path1: "\e91b";
$icon-camera-path2: "\e91c";
$icon-cart: "\e91d";
$icon-chat-reply: "\e91e";
$icon-check: "\e91f";
$icon-checkmark-path1: "\e920";
$icon-checkmark-path2: "\e921";
$icon-chevron-down: "\e922";
$icon-chevron-left: "\e923";
$icon-chevron-right: "\e924";
$icon-chevron-last: "\e9e9";
$icon-chevron-first: "\9eae";
$icon-chevron-up: "\e925";
$icon-circle: "\e926";
$icon-circle-cross-path1: "\e927";
$icon-circle-cross-path2: "\e928";
$icon-circle-question: "\e929";
$icon-close: "\e92a";
$icon-cloud-path1: "\e92b";
$icon-cloud-path2: "\e92c";
$icon-cloud-deployment-path1: "\e92d";
$icon-cloud-deployment-path2: "\e92e";
$icon-comment: "\e92f";
$icon-compare-plansdevices-path1: "\e930";
$icon-compare-plansdevices-path2: "\e931";
$icon-connectivity-path1: "\e932";
$icon-connectivity-path2: "\e933";
$icon-coverage: "\e934";
$icon-credit-card: "\e935";
$icon-credits: "\e936";
$icon-currency: "\e937";
$icon-currency-peso: "\e938";
$icon-currency-usd: "\e939";
$icon-customise-path1: "\e93a";
$icon-customise-path2: "\e93b";
$icon-data-center-path1: "\e93c";
$icon-data-center-path2: "\e93d";
$icon-data-migration-path1: "\e93e";
$icon-data-migration-path2: "\e93f";
$icon-dataroam: "\e940";
$icon-designer: "\e941";
$icon-download: "\e942";
$icon-drawer: "\e943";
$icon-drones: "\e944";
$icon-edit: "\e945";
$icon-education-path1: "\e946";
$icon-education-path2: "\e947";
$icon-email-path1: "\e948";
$icon-email-path2: "\e949";
$icon-entertainment-path1: "\e94a";
$icon-entertainment-path2: "\e94b";
$icon-environment-path1: "\e94c";
$icon-environment-path2: "\e94d";
$icon-expert: "\e94e";
$icon-facebook: "\e94f";
$icon-family-path1: "\e950";
$icon-family-path2: "\e951";
$icon-faq-path1: "\e952";
$icon-faq-path2: "\e953";
$icon-fax-path1: "\e954";
$icon-fax-path2: "\e955";
$icon-filter: "\e956";
$icon-flexible_delivery-path1: "\e957";
$icon-flexible_delivery-path2: "\e958";
$icon-food-path1: "\e959";
$icon-food-path2: "\e95a";
$icon-frequency: "\e95b";
$icon-friendly-sales: "\e95c";
$icon-fun-path1: "\e95d";
$icon-fun-path2: "\e95e";
$icon-gadget-configuration-path1: "\e95f";
$icon-gadget-configuration-path2: "\e960";
$icon-gaming-path1: "\e961";
$icon-gaming-path2: "\e962";
$icon-get-help: "\e963";
$icon-goodmorning: "\e965";
$icon-google: "\e966";
$icon-googleplus: "\e967";
$icon-grid: "\e968";
$icon-hamburger: "\e969";
$icon-help: "\e96a";
$icon-image-path1: "\e96b";
$icon-image-path2: "\e96c";
$icon-infinite-calls-path1: "\e96d";
$icon-infinite-calls-path2: "\e96e";
$icon-info-path1: "\e96f";
$icon-info-path2: "\e970";
$icon-info-circle: "\e971";
$icon-info-view: "\e972";
$icon-instagram: "\e973";
$icon-international: "\e974";
$icon-international-data-path1: "\e975";
$icon-international-data-path2: "\e976";
$icon-item-add-path1: "\e977";
$icon-item-add-path2: "\e978";
$icon-item-add-path3: "\e979";
$icon-leap-path1: "\e97a";
$icon-leap-path2: "\e97b";
$icon-link: "\e97c";
$icon-linkedin: "\e97d";
$icon-list: "\e97e";
$icon-live-chat: "\e97f";
$icon-loans-path1: "\e980";
$icon-loans-path2: "\e981";
$icon-location: "\e982";
$icon-locator: "\e983";
$icon-love-relationship-path1: "\e984";
$icon-love-relationship-path2: "\e985";
$icon-m2m-path1: "\e986";
$icon-m2m-path2: "\e987";
$icon-manage-ip-bx-path1: "\e988";
$icon-manage-ip-bx-path2: "\e989";
$icon-manage-payroll-path1: "\e98a";
$icon-manage-payroll-path2: "\e98b";
$icon-manage-security-path1: "\e98c";
$icon-manage-security-path2: "\e98d";
$icon-mobile-path1: "\e98e";
$icon-mobile-path2: "\e98f";
$icon-mobile-device-management-path1: "\e990";
$icon-mobile-device-management-path2: "\e991";
$icon-mobility-path1: "\e992";
$icon-mobility-path2: "\e993";
$icon-my-account: "\e994";
$icon-online-deals-path1: "\e995";
$icon-online-deals-path2: "\e996";
$icon-phone-path1: "\e997";
$icon-phone-path2: "\e998";
$icon-platinum-path1: "\e999";
$icon-platinum-path2: "\e99a";
$icon-play: "\e99b";
$icon-power-path1: "\e99c";
$icon-power-path2: "\e99d";
$icon-products-path1: "\e99e";
$icon-products-path2: "\e99f";
$icon-promo: "\e9a0";
$icon-proof-bill: "\e9a1";
$icon-proof-finance: "\e9a2";
$icon-proof-identity: "\e9a3";
$icon-question-mark: "\e9a4";
$icon-quiz-path1: "\e9a5";
$icon-quiz-path2: "\e9a6";
$icon-recommended: "\e9a7";
$icon-refresh: "\e9a8";
$icon-remove: "\e9a9";
$icon-reply: "\e9aa";
$icon-return: "\e9ab";
$icon-rewards-path1: "\e9ac";
$icon-rewards-path2: "\e9ad";
$icon-rewards-2-path1: "\e9ae";
$icon-rewards-2-path2: "\e9af";
$icon-ring: "\e9b0";
$icon-search: "\e9b1";
$icon-see-more: "\e9b2";
$icon-sendreceivemoney-path1: "\e9b3";
$icon-sendreceivemoney-path2: "\e9b4";
$icon-setting: "\e9b5";
$icon-share: "\e9b6";
$icon-shop-path1: "\e9b7";
$icon-shop-path2: "\e9b8";
$icon-shopify: "\e9b9";
$icon-simcard-path1: "\e9ba";
$icon-simcard-path2: "\e9bb";
$icon-sort-by: "\e9bc";
$icon-specification: "\e9bd";
$icon-speed: "\e9be";
$icon-start-again: "\e9bf";
$icon-storage-path1: "\e9c0";
$icon-storage-path2: "\e9c1";
$icon-store-locator: "\e9c2";
$icon-technology-path1: "\e9c3";
$icon-technology-path2: "\e9c4";
$icon-tickets: "\e9c5";
$icon-top-up: "\e9c6";
$icon-track-your-item: "\e9c7";
$icon-travel-path1: "\e9c8";
$icon-travel-path2: "\e9c9";
$icon-triangle: "\e9ca";
$icon-twitter: "\e9cb";
$icon-user-path1: "\e9cc";
$icon-user-path2: "\e9cd";
$icon-video-path1: "\e9ce";
$icon-video-path2: "\e9cf";
$icon-voices-path1: "\e9d0";
$icon-voices-path2: "\e9d1";
$icon-volume-licensing-help-path1: "\e9d2";
$icon-volume-licensing-help-path2: "\e9d3";
$icon-warning: "\e9d4";
$icon-warning-2: "\e9d5";
$icon-warning-3: "\e9d6";
$icon-wearables-path1: "\e9d7";
$icon-wearables-path2: "\e9d8";
$icon-whitepaper: "\e9d9";
$icon-wifi-path1: "\e9da";
$icon-wifi-path2: "\e9db";
$icon-wishlist-default: "\e9dc";
$icon-wishlist-selected: "\e9dd";
$icon-yahoo: "\e9de";
$icon-youtube: "\e9df";

